$blue: #1995d3;
$red: red;
.blue {
  color: $blue;
}
.red {
  color: $red;
}
.circle {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background:#fbc747;
  &.blue {
    background: #67bee4;
  }
  /* width and height can be anything, as long as they're equal */
}

body {
  .bar .button.back-button {
    min-height: 100px;
    margin-top: 14px
  }
  .bar {
    height: 130px;
    .bar-stable {
      background: #0093d6;

    }
  }

  .title {
    table {

      td {
        padding: 10px;
        vertical-align: middle;
        div, p {
          float: left;
          margin: 5px;
        }
       &.td3 {
         .circle {
           background: #67bee4;
         }
       }
      }
    }
  }

  .list {
    table.outer {
      thead {
        background: #f1f6f9;
        th {
          padding: 10px 5px;
          font-weight: bold;
          color: #82909d;
          font-size: 15pt;
          span {
            font-size: 10pt;
          }
          &.th1 {
            width: 15%;
          }
          &.th2 {
            width: 10%;
          }
          &.th3 {
            width: 10%;
          }
          &.th4 {
            width: 13%;
          }
          &.th5 {
            width: 13%;
          }
          &.th6 {
            width: 13%;
          }
          &.th7 {
            width: 15%;
          }
          &.th8 {
            width: 10%;
          }
        }
      }
      width: 100%;
      tr {
        td {
          &.td1 {
            img {
              width: 50px;
              margin-top: 10px;
            }
          }
          color: #7b7c7d;
          font-size: 12pt;
          font-weight: bold;
          padding: 10px;
          vertical-align: middle;
          text-align: center;
          div, p {
            float: left;
            margin: 5px;
          }
          .progress {
            width: 150px;
            background: #DDD;

            div {
              margin: 0;
              transition: width 0.1s;
              height: 20px;
              &.green {
                background: #27b620;;
              }
              &.zi {
                background: #6119b6;;
              }
              &.yellow {
                background: #fba82a;
              }
            }
          }
        }
      }

      tr:nth-child(2n) {
        background: #f7fbfc;
      }

      table {
        margin-left: 30px;
        tr {

          td {
            padding: 0;
          }
        }

        tr:nth-child(2n) {
          background: transparent;
        }
      }
    }
  }

  .has-header {
    top: 150px;
  }
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background: #0093d6 url("../img/logo.png") no-repeat center center;
  background-size: 300px 80px;

}